$popover-inner-arrow-size: 21px;
$popover-arrow-size: 30px;

@mixin margin($top, $left) {
    margin-top: $top + 5px;
    margin-left: $left - 10px;
}

@mixin pop-over() {
    .pop-over-container {
        .arrow {
            position: absolute;
            width: $popover-arrow-size;
            height: $popover-arrow-size;

            .inner {
                background-color: white;
                width: $popover-inner-arrow-size;
                height: $popover-inner-arrow-size;
                /*rotation: 45;*/
            }

            &.point- {
                &left .inner {
                    @include margin(0, $popover-arrow-size);
                }

                &right .inner {
                    @include margin(0, 0);
                }

                &up .inner {
                    @include margin($popover-arrow-size / 2, $popover-arrow-size / 2);
                }

                &down .inner {
                    @include margin(-$popover-arrow-size / 2,$popover-arrow-size / 2);
                }
            }
        }

        .balloon {
            position: absolute;
            background-color: white;
            margin: 0 10px;
            border-color: black;
            border-radius: 5px;

            .close {
                text-align: center;
                height: 20px;
                width: 20px;
            }

            &.sharp- {
                &top- {
                    &left {
                        border-top-left-radius: 0;
                    }

                    &right {
                        border-top-right-radius: 0;
                    }
                }

                &.sharp- {
                    &bottom- {
                        &left {
                            border-bottom-left-radius: 0;
                        }

                        &right {
                            border-bottom-right-radius: 0;
                        }
                    }
                }
            }
        }

        .content {
            padding: 20px;
        }
    }
}
